$default-font-size: 12px;

/*$default-bg-color: #4c505c;*/
$default-bg-color: white;

$header-font: Play;
$preview-width: 768px;
$preview-height: 1350px;
$preview-pad: 15px;
$control-pad: 7px;

$guide-inner-width: 80px;
$guide-inner-height: 21px;

$guide-outer-width: 80px;
$guide-outer-height: 21px;

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

html {
    overflow-y: scroll;
}

body {
    padding: 0 !important;
    margin: 0;
    background-color: $default-bg-color;
    word-break: break-all;
    font-family: Nanum Gothic,AppleGothic,sans-serif;
    font-size: $default-font-size;
}

span.ico {
    background-image: url("/images/ico_guide_type_revert.png");
    display: inline-block;
    width: 40px;
    height: 40px;
    &.ico-outer {
        background-position: 0 0;
    }
    &.ico-inner {
        background-position: -40px 0;
    }
    &.ico-gap {
        background-position: -80px 0;
    }
}

.btn-default {
    span.ico {
        background-image: url("/images/ico_guide_type.png");
    }
}

span.ico-align {
    background-image: url("/images/ico_outer_type_revert.png");
    display: inline-block;
    width: 40px;
    height: 40px;
    &.ico-tl {
        background-position: -80px 0;
    }
    &.ico-tr {
        background-position: -120px 0;
    }
    &.ico-bl {
        background-position: -40px 0;
    }
    &.ico-br {
        background-position: 0 0;
    }
    &.ico-t {
        background-position: -80px -40px;
    }
    &.ico-b {
        background-position: -120px -40px;
    }
    &.ico-l {
        background-position: -40px -40px;
    }
    &.ico-r {
        background-position: 0 -40px;
    }
}

.btn-default {
    span.ico-align {
        background-image: url("/images/ico_outer_type.png");
    }
}

.navbar {
    font-family: $header-font;
    min-height: 0;
    .navbar-brand {
        padding-top: 7px;
        padding-bottom: 7px;
        height: auto;
    }
    &.navbar-fixed-top {
        border-bottom: 1px solid #ccc;
        .navbar-nav {
            &.target-list {
                > li {
                    > a {
                        padding: 6px 10px 8px;
                        font-size: 18px;
                        font-weight: bold;
                        color: #fff !important;
                    }
                }
            }
            > li {
                > a {
                    padding: 5px 6px;
                }
            }
        }
        .btn-area {
            /*padding: 6px 10px 3px;*/
            font-size: 16px !important;
            float: left;
            > a {
                color: #777;
                text-decoration: none;
                cursor: pointer;
                display: inline-block;
                padding: 10px 8px 1px 16px;
                border-right: 1px dotted gray;
                vertical-align: bottom !important;
                .glyphicon {
                    top: -2px;
                }
                .txt {
                    font-size: 12px !important;
                    padding-left: 8px;
                    display: inline-block;
                    width: 0;
                    white-space: nowrap;
                    overflow: hidden;
                    -webkit-transition: all 0.5s;
                }
                &:hover {
                    span.txt {
                        width: 60px;
                    }
                }
            }
        }
    }
}

.color-picker {
    .floating {
        pointer-events: none;
        opacity: 0;
        -webkit-transition: opacity 0.35s;
        transition: opacity 0.35s;
    }
    &:hover {
        .floating {
            opacity: 1;
        }
    }
}



.comment-box {
    .balloon {
    pointer-events:none;
    opacity:0;
    position:absolute;
    display:block;
    top:25px;
    z-index:1000;
    -webkit-transition: opacity 0.35s;
        transition: opacity 0.35s;
    pre {
        background-color:#4c505c;
        border-radius:5px;
        width:auto;
        color:#fff;
        font-weight:bold;
        padding:10px 15px;
        min-width:200px;
    }
}
    &:hover {
        .balloon {
            opacity:1;
    }
    }
    

}

.pane-selected {
    .line-el {
        pointer-events: none;
        opacity: 0;
        -webkit-transition: opacity 0.7s;
        transition: opacity 0.7s;
    }
    &:hover {
        .line-el {
            opacity: 1;
        }
    }
}

.main-content {
    margin-top: 45px;
    .pane {
        float: left;
        margin-right: 10px;
    }
    .easel {
        margin: 30px;
        position: relative;
    }
    .hide-rect {
        .area {
            border: none;
        }
    }
    .panel {
        .panel-heading {
            padding: 5px 10px;
            .glyphicon {
                font-size: 18px;
                vertical-align: middle;
                top: -1px;
                margin-right: 3px;
            }
            margin-top: 1px;
            font-family: $header-font;
            fpmt-size: 14px;
        }
        .panel-body {
            padding: 10px;
            label {
                font-weight: normal;
                margin-bottom: 10px;
                input[type=checkbox] {
                    vertical-align: middle;
                    margin: -1px 3px 0 0;
                }
            }
        }
    }
    .area {
        position: absolute;
        border: 1px dashed red;
        -webkit-user-select: none;
        /*background-color:rgba(0,0,255,0.2);*/
        &.selected {
            background-color: rgba(255, 0, 0, 0.2);
        }
        .has-info {
            position: absolute;
            top: 0px;
            left: 0px;
            color: rgba(255, 255, 255, 0.65);
            /*background-color:rgba(255,0,0,0.65);*/
            background-color: rgba(255, 0, 0, 0.35);
            padding: 5px;
            -webkit-transition: all 0.5s;
            &:hover {
                color: #fff;
                background-color: rgba(255, 0, 0, 0.65);
            }
        }
        .guide-outer {
            position: relative;
            width: 100%;
            height: 100%;
            pointer-events: none;
            color: red;
            font-family: Tahoma;
            font-size: 12px;
            font-weight: bold;
            box-sizing: border-box;
            .guide-w {
                position: absolute;
                border-left: 1px dotted red;
                border-right: 1px dotted red;
                width: 100%;
                height: 100%;
                text-align: center;
                &.guide-dir-b {
                    > em {
                        top: auto;
                        bottom: -30px;
                    }
                }
                > em {
                    position: absolute;
                    left: -1px;
                    top: -30px;
                    /*width: 100%;*/
                    height: 30px;
                    border-left: 1px dotted red;
                    border-right: 1px dotted red;
                    text-align: center;
                    > span {
                        position: absolute;
                        display: block;
                        font-style: normal;
                        top: 50%;
                        width: 100%;
                        height: $guide-inner-height;
                        margin-top: $guide-inner-height * -0.5;
                        padding: 2px;
                    }
                    > div.line-l, > div.line-r {
                        position: absolute;
                        border-top: 1px dotted red;
                        top: 15px;
                        height: 1px;
                        &.line-l {
                            left: 0;
                        }
                        &.line-r {
                            right: 0;
                        }
                    }
                }
            }
            .guide-h {
                position: absolute;
                border-top: 1px dotted red;
                border-bottom: 1px dotted red;
                width: 100%;
                height: 100%;
                text-align: center;
                &.guide-dir-l {
                    > em {
                        right: auto;
                        left: -30px;
                    }
                }
                > em {
                    position: absolute;
                    right: -30px;
                    top: -1px;
                    width: 30px;
                    /*height: 100%;*/
                    border-top: 1px dotted red;
                    border-bottom: 1px dotted red;
                    > span {
                        position: absolute;
                        display: block;
                        font-style: normal;
                        top: 50%;
                        width: 30px;
                        height: $guide-inner-height;
                        margin-top: $guide-inner-height * -0.5;
                        padding: 2px;
                    }
                    > div.line-t, > div.line-b {
                        position: absolute;
                        border-right: 1px dotted red;
                        left: 15px;
                        width: 1px;
                        &.line-t {
                            top: 0;
                        }
                        &.line-b {
                            bottom: 0;
                        }
                    }
                }
            }
        }
        .guide-inner {
            font-family: Tahoma;
            font-size: 12px;
            font-weight: bold;
            position: relative;
            pointer-events: none;
            width: 100%;
            height: 100%;
            border: 1px solid red;
            span {
                position: absolute;
                left: 50%;
                top: 50%;
                background-color: silver;
                width: $guide-inner-width;
                margin-left: $guide-inner-width * -0.5;
                height: $guide-inner-height;
                margin-top: $guide-inner-height * -0.5;
                text-align: center;
                padding: 2px;
            }
        }
        .guide-gap {
            position: relative;
            width: 100%;
            height: 100%;
            pointer-events: none;
            color: red;
            font-family: Tahoma;
            font-size: 12px;
            font-weight: bold;
            box-sizing: border-box;
            .guide-w {
                position: absolute;
                width: 100%;
                height: 100%;
                text-align: center;
                > em {
                    position: absolute;
                    left: -1px;
                    top: 50%;
                    height: 30px;
                    margin-top: -15px;
                    text-align: center;
                    border-left: 1px dotted red;
                    border-right: 1px dotted red;
                    > span {
                        position: absolute;
                        display: block;
                        font-style: normal;
                        top: 50%;
                        width: 100%;
                        height: $guide-inner-height;
                        margin-top: $guide-inner-height * -0.5;
                        padding: 2px;
                    }
                    > div.line-l, > div.line-r {
                        position: absolute;
                        border-top: 1px dotted red;
                        top: 15px;
                        height: 1px;
                        &.line-l {
                            left: 0;
                        }
                        &.line-r {
                            right: 0;
                        }
                    }
                }
            }
            .guide-h {
                position: absolute;
                width: 100%;
                height: 100%;
                text-align: center;
                > em {
                    position: absolute;
                    left: 50%;
                    top: -1px;
                    width: 30px;
                    margin-left: -15px;
                    border-top: 1px dotted red;
                    border-bottom: 1px dotted red;
                    > span {
                        position: absolute;
                        display: block;
                        font-style: normal;
                        top: 50%;
                        width: 30px;
                        height: $guide-inner-height;
                        margin-top: $guide-inner-height * -0.5;
                        padding: 2px;
                    }
                    > div.line-t, > div.line-b {
                        position: absolute;
                        border-right: 1px dotted red;
                        left: 15px;
                        width: 1px;
                        &.line-t {
                            top: 0;
                        }
                        &.line-b {
                            bottom: 0;
                        }
                    }
                }
            }
        }
        &:hover {
            button {
                position: absolute;
                display: block;
                z-index: 1000;
            }
        }
    }
}

.rows {
    padding: 0;
    .col {
        padding: 10px;
    }
}

.modal {
    overflow-y: hidden !important;
    .modal-dialog {
        outline: none;
        .modal-header {
            padding: 10px 15px;
            .modal-title {
                .glyphicon {
                    vertical-align: middle;
                    margin-right: 8px;
                    top: -1px;
                }
                font-family: $header-font;
                font-size: 14px;
            }
        }
        .modal-body {
            padding: 15px;
        }
        .modal-footer {
            padding: 15px;
            margin-top: 0;
            .btn {
                .glyphicon {
                    margin: 0 6px 0 -1px;
                    top: -1px;
                    vertical-align: middle;
                }
            }
        }
    }
}

.layer-tree {
    .selected {
        font-weight: bold;
    }
    min-height: 200px;
    max-height: 685px;
    overflow-y: auto;
    margin: 0 -10px;
    border-top: 1px solid #ddd;
    padding-bottom: 10px;
    .list-group {
        .list-group-item {
            padding: 10px 0 0 15px;
            border: none;
        }
        margin-bottom: 0;
    }
}

.hove2 {
    background-color: rgba(0, 255, 0, 0.1);
}

.red {
    background-color: rgba(255, 0, 0, 0.1);
}

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }

    @-moz-keyframes #{$name} {
        @content;
    }

    @-ms-keyframes #{$name} {
        @content;
    }

    @-o-keyframes #{$name} {
        @content;
    }

    @keyframes #{$name} {
        @content;
    }
}

@mixin transform-origin($params) {
    -webkit-transform-origin: $params;
    -moz-transform-origin: $params;
    -ms-transform-origin: $params;
    -o-transform-origin: $params;
    transform-origin: $params;
}

@mixin animation($params) {
    -webkit-animation: $params;
    -moz-animation: $params;
    -ms-animation: $params;
    -o-animation: $params;
    animation: $params;
}

@mixin animation($param1, $param2) {
    -webkit-animation: $param1, $param2;
    -moz-animation: $param1, $param2;
    -ms-animation: $param1, $param2;
    -o-animation: $param1, $param2;
    animation: $param1, $param2;
}

@mixin transform($params) {
    -webkit-transform: $params;
    -moz-transform: $params;
    transform: $params;
}

@media (min-width: 1400px) {
    .container {
        width: 1370px;
    }
}

.bokeh {
    font-size: 100px;
    width: 1em;
    height: 1em;
    position: relative;
    margin: 0 auto;
    position: relative;
    top: 35%;
    border-radius: 50%;
    border: 0.01em solid rgba(150, 150, 150, 0.1);
    list-style: none;
    z-index: 10000000000000;
    li {
        position: absolute;
        width: .2em;
        height: .2em;
        border-radius: 50%;
        &:nth-child(1) {
            left: 50%;
            top: 0;
            margin: 0 0 0 -.1em;
            background: #b4e800;
            @include transform-origin(50% 250%);
            @include animation(rota 1.13s linear infinite, opa 3.67s ease-in-out infinite alternate);
        }
        &:nth-child(2) {
            top: 50%;
            right: 0;
            margin: -.1em 0 0 0;
            background: #FF003C;
            @include transform-origin(-150% 50%);
            @include animation(rota 1.86s linear infinite, opa 4.29s ease-in-out infinite alternate);
        }
        &:nth-child(3) {
            left: 50%;
            bottom: 0;
            margin: 0 0 0 -.1em;
            background: #ffd200;
            @include transform-origin(50% -150%);
            @include animation(rota 1.45s linear infinite, opa 5.12s ease-in-out infinite alternate);
        }
        &:nth-child(4) {
            top: 50%;
            left: 0;
            margin: -.1em 0 0 0;
            background: #0088b2;
            @include transform-origin(250% 50%);
            @include animation(rota 1.72s linear infinite, opa 5.25s ease-in-out infinite alternate);
        }
    }
}

@include keyframes(rota) {
    to {
        -webkit-transform: rotate(360deg);
    }
}


@include keyframes(opa) {
    12.0% {
        opacity: 0.80;
    }
    19.5% {
        opacity: 0.88;
    }
    37.2% {
        opacity: 0.64;
    }
    40.5% {
        opacity: 0.52;
    }
    52.7% {
        opacity: 0.69;
    }
    60.2% {
        opacity: 0.60;
    }
    66.6% {
        opacity: 0.52;
    }
    70.0% {
        opacity: 0.63;
    }
    79.9% {
        opacity: 0.60;
    }
    84.2% {
        opacity: 0.75;
    }
    91.0% {
        opacity: 0.87;
    }
}